.dynamic{
    display: grid;
    grid-template-rows: 10% 90%;
    width: 100%;
    height: 100%;
}

.navigation{
    display: inline-flex;
    justify-content: end;
   
}

.navigation nav{
    display: inline-flex;
    padding: 10px;
    padding: 18px 18px;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   border: 3px solid rgba(255, 204, 0, 0.481);
   background-color: rgb(66, 65, 65);
   backdrop-filter: blur(100px);
    gap: 20px;
    
}

.navigation nav p{
     transform: translateY(25%);
      font-family: "Lato", sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: rgb(203, 200, 200);
}



/* Content Starts */
.nav-content{
    padding: 10px;
    overflow: hidden;
    
}

.C1{
    
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    
}

.C2{
    
    height: 100%;
    width: 100%;
}
.C3{
    
    height: 100%;
    width: 100%;
}
.C4{
    
    height: 100%;
    width: 100%;
}

/* Email */

.email{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 10% 10% 70%;
    margin-top:20px ;
    gap: 20px;
    overflow: hidden;
}

.from{
    
    display: grid;
    grid-template-columns: 16% 4% 80%;
    align-items: center;
    padding: 10px 12px;
    label{
        font-size: 24px;
        color: #757575;
        text-align: right;
    }
    input{
        height: 100%;
        padding: 5px 10px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 24px;
        color: #f4e8e8;
        letter-spacing: 0.5px;
    }
    
}

.from:has(input:focus){
    border: 2px solid rgb(55, 137, 252);
    border-radius: 10px;
}

#emailContent{
    background-color: transparent;
    padding: 20px;
    font-size: 24px;
    border: none;
    outline: none;
    width: 100%;
    height: 60%;
    overflow: scroll;
    scrollbar-width: none;
}
.longText{
    overflow: hidden;
    
    

}
.send{
    position: absolute;
    top: 80%;
    right: 5%;
    box-shadow: inset 1px 1px 8px rgba(255, 255, 255, 0.2);
    padding: 12px 15px;
    font-family: 'Roboto' ,sans-serif;
    border-radius: 50%;
    background-color: #2f2f2f;
    i{
        color: greenyellow;
        font-size: 18px;
    }

}