*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: "Lato", sans-serif;
    color: white;
    user-select: none;
}
.view-button{
    padding: 6px 10px 8px 10px ;
    box-shadow: 0px 3px 12px rgb(37, 37, 37) ,inset 1px 2px 6px rgb(80, 80, 80);
    position: absolute;
    border-radius: 20px;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #2f2c2c;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.main{
    width: 70vw;
    height: 95vh;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: grid;
    gap: 10px;
    grid-template-columns: 3fr 3px 6fr;
    align-items: center;
    box-shadow: 0 0 20px rgb(61, 58, 58);
    overflow: hidden;
}
.separator{
    height: 80%;
    background-color: #ffffff4d;
    border-radius: 20%;
}
.tri-div{
    position: absolute;
    top: 30%;
    left: 9.5%;
    animation: rotateLeft 6s linear infinite ;
    
    width: 260px;
    height: max-content;
}
.triangle{
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg,#ffd245,#fd7f15);
    border-top-right-radius: 40px;
    transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
    
}
.triangle::after,.triangle::before{
    content:'';
    position: absolute;
    width: inherit;
    background: inherit;
    height: inherit;
    background-color: inherit;
    border-top-right-radius: inherit;
    
}
.triangle::before{
    transform: rotate(-135deg) skewX(-45deg) scale(1.411,0.707) translateY(-50%);
    
}
.triangle::after{
    transform: rotate(135deg) skewY(-45deg) scale(0.707,1.411) translateX(50%);
    
}
.square {
    height: 300px;
    width: 300px;
    position: absolute;
    z-index: -5;
    right: 10%;
    top: 30%;
    border-radius: 20px;
    background: radial-gradient(circle, #2b8a3e, #b2f2bb);
    overflow: hidden;
    animation: rotateRight 6s linear infinite;
}

.square::before{
    content: '';
    background: radial-gradient(circle, #b2f2bb, #2b8a3e);
    height: 100%;
    width: 100%;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 50% 100%);


}
 

/* User in View Button */
.hide_back{
    background-color: #2f2f2f;
}

.content-dont-display{
    display: none;
}


@keyframes rotateLeft {
    0%{
        transform: rotate(0deg) ;
        
    }
    25%{
        transform: rotate(90deg) ;
        
    }
    50%{
        transform: rotate(180deg) ;
        
    }
    75%{
        transform: rotate(270deg) ;
        
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotateRight {
    0%{
        transform: rotate(0deg) scale(1.1);
        
    }
    25%{
        transform: rotate(-90deg) scale(0.9);
        
    }
    50%{
        transform: rotate(-180deg) scale(1.1);
        
    }
    75%{
        transform: rotate(-270deg) scale(0.9);
        
    }
    100%{
        transform: rotate(-360deg) scale(1.1);
    }
}